<div class="formTask">
      <h1>Crie sua Task!</h1>
      
      <form action="/add" method="POST">
      
      
            <input class="titulo" type="text" name="title" placeholder="O vai fazer">
      
            <textarea class="descri" name="description" placeholder="Descreva a tarefa..."></textarea>
      
            <input class="btnForm" type="submit" value="criar">
      
      
      </form>
</div>